# SPDX-License-Identifier: Apache-2.0

CONFIG_MAIN_STACK_SIZE=2048

CONFIG_CONSOLE=y
CONFIG_SERIAL=n
CONFIG_UART_CONSOLE=n
CONFIG_USB_CDC_ACM=y
CONFIG_USB_DEVICE_PRODUCT="HTIT Tracker"
CONFIG_USB_DEVICE_VID=0xfefe
CONFIG_USB_DEVICE_PID=0xadad
CONFIG_BOOT_DELAY=1000

CONFIG_GPIO=y