# SPDX-License-Identifier: Apache-2.0

CONFIG_MAIN_STACK_SIZE=2048

CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_CDC_ACM=y
CONFIG_USB_DEVICE_PRODUCT="HTIT Tracker"
CONFIG_USB_DEVICE_INITIALIZE_AT_BOOT=y


CONFIG_GPIO=y
CONFIG_PWM=y