/*
 * Copyright (c) 2025 Nate Aquino
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/dts-v1/;

#include <espressif/esp32s3/esp32s3_fn8.dtsi>
#include "heltec_htit_tracker-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/lora/sx126x.h>
#include <espressif/partitions_0x0_amp.dtsi>

/ {
	model = "Heltec HTIT Tracker PROCPU";
	compatible = "espressif,esp32s3";

	aliases {
		uart-0 = &uart0;
		uart-1 = &uart1;
		led0 = &led0;
		sw0 = &button0;
		watchdog0 = &wdt0;
		lora0 = &lora0;
		st7735 = &st7735;
		vext = &vext;
		blight = &blight;
	};

	leds {
		compatible = "gpio-leds";
		led0: led {
			gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>; 
			label = "White LED";
		};

		vext: vext { 
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>; 
			label = "External VCC";
		};

		blight: blight {
			gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>; 
			label = "Backlight";
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "USER Button";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		dc-gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;
		spi-dev = <&spi2>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		st7735: st7735@0 {
			compatible = "sitronix,st7735r";
			mipi-max-frequency = <DT_FREQ_M(6)>; // 6 megahertz
			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";

			reg = <0>;
			width = <160>;
			height = <80>;
			x-offset = <1>;
			y-offset = <26>;
			madctl = <0xB7>; 
			colmod = <0x05>; // color format 16 bits
			vmctr1 = <0x2c>;
			gamctrp1 = [02 1c 07 12 37 32 29 2d 29 25 2B 39 00 01 03 10];
			gamctrn1 = [03 1d 07 06 2E 2C 29 2D 2E 2E 2B 3A 00 01 04 10];
		};
	};

	chosen {
		zephyr,sram = &sram1;
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,bt-hci = &esp32_bt_hci;
		zephyr,display = &st7735;
	};
};

&flash0 {
	reg = <0x0 DT_SIZE_M(4)>;
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&uart1 {
	status = "okay";
	current-speed = <115200>; // default for UC6580
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};

&gpio0 {
	status = "okay";
};

&trng0 {
	status = "okay";
};

&spi3 {  // Note: spi3 may be wrong here
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";
    pinctrl-0 = <&spim3_default>;
    pinctrl-names = "default";
    cs-gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
    lora0: lora@0 {
        compatible = "semtech,sx1262";
        reg = <0>;
        reset-gpios = <&gpio0 12 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_LOW)>;
        busy-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        dio1-gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>; /* SX1262 DIO1 */
		dio2-tx-enable;
		dio3-tcxo-voltage = <SX126X_DIO3_TCXO_1V8>;
		tcxo-power-startup-delay-ms = <5>;
        spi-max-frequency = <4000000>;
    };
};

&spi2 {
	#address-cells = <1>;
    #size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio1 6 GPIO_ACTIVE_LOW>; // gpio0 38 = gpio1 6
};

&usb_serial {
	status = "okay";
};

&esp32_bt_hci {
	status = "okay";
};