/ {
    aliases {
        can0 = &can_over_spi;
    };

    chosen {
        zephyr,canbus = &can_over_spi;
    };
};

&spi3 {
    // add chip select for can board at gpio 45
    cs-gpios = <&gpio0 8 GPIO_ACTIVE_LOW>, // preexisting lora cs
            <&gpio1 13 GPIO_ACTIVE_LOW>; // GPIO 45 == GPIO1 13

    can_over_spi: can@1 {
        compatible = "microchip,mcp2515";
        reg = <1>;
        osc-freq = <DT_FREQ_M(8)>;
        int-gpios = <&gpio1 14 GPIO_ACTIVE_LOW>; // GPIO 46 == GPIO1 14
        spi-max-frequency = <DT_FREQ_M(4)>; // might be wrong, just a guess
    };  
};